@page "/"
@inherits PageComponentBase
<PageTitle>Home</PageTitle>

<div class="w3-container">
    
        <AuthorizeView Roles="User">
            <Authorized>
                <h2>Hi, @User?.FirstName @User?.LastName</h2>
            </Authorized>
            <NotAuthorized>
                <h2>Welcome to Lets Poll People, where we just poll things!</h2>
            </NotAuthorized>
        </AuthorizeView>
    
</div>